# Supabase Configuration
SUPABASE_URL=your_supabase_project_url
SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key
SUPABASE_STORAGE_BUCKET=pronunex-dB
USE_SUPABASE_STORAGE=true
SUPABASE_JWT_SECRET=your_supabase_jwt_secret

# Database
DATABASE_URL=postgresql://user:password@host:port/database
dB_password=your_database_password

FRONTEND_URL=http://localhost:5173 | Your Frontend URL
